@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Martel Sans", sans-serif;
}

body{
    background-color: black;
}
.mainbox {
    background-image: url(assets/images/IN-en-20250303-TRIFECTA-perspective_d5f81427-d6cf-412d-8e86-2315671b9be1_large.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    /* they make the background image sit perfectly in the middle of the element without repeating */
    background-size: max(1200px, 100vw);
    /* in every case image will cover entire width */
    height: auto;
    /* resize height according to the need of width */
    height: 70vh;
    width: 100%;
    position: relative;
    /* The position is relative so that we can change it */
}

.mainbox .box {
    height: 70vh;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    /* position is absolute to the mainbox, and top:0 means it is 0px away from the top(which means they will overlap) */
    top: 0;
}

nav img {
    width: 110px;
    height: auto;
    position: relative;
    z-index: 10;
    top:1.5rem;
}

nav button{
    position: relative;
    z-index: 10;
    top:1.5rem;
}

#navbar {
    /* display flex in the parent of navbar */
    max-width: 90vw;
    margin: auto;
    /* margin auto will bring reduced navbar in the middle */
    display: flex;
    justify-content: space-between;
    /* It will give space between two blocks(span, div etc) */
    background:transparent;  
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main-content{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    /* font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal; */
    position: relative;
    padding:30px;
}

.heading{
    font-weight: bolder;
    margin: -10px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.detail{
    font-weight: 200;
    margin: -5px;
    font-size: 15px;
}

.red-btn{
    background-color: rgb(229, 9, 20);
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    
}
.input-box button{
    height: 3.5rem;
    width: 10rem;
    font-size: 1.1rem;
    margin: 10px;
}

.input-box input{
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 10px;
    border: 0.5px solid rgb(105, 103, 103);
    border-radius: 4px;
    font-size: 1rem;
    font: white;
    position: relative;
    z-index: 10;
}

.upper-btn button:nth-child(1){
    background-color: transparent;
    color: white;
    border: 0.5px  solid rgb(105, 103, 103);
    padding: 2px;
    height: 2rem;
    width: 8rem;
    font-size: 15px;
}

.upper-btn button:nth-child(2){
    padding: 2px;
    height: 2rem;
    width: 5rem;
    font-weight: 900;
    margin-left: 1rem;
}

.separation{
    position: relative;
    width: 100%;
    height: 100px; /* Adjust height as needed */
    background: radial-gradient(50% 500% at 50% -420%,
     rgba(64, 97, 231, 0.4) 80%,
     rgba(0, 0, 0, 0.1) 100%),
      black;
    border-top: 4px solid rgb(182, 2, 2); /* Red curved border */
    border-radius: 90% 100% / 100% 100%;
 
    mask-image: linear-gradient(to right, transparent, red, red, rgb(211, 6, 6));
    -webkit-mask-image: linear-gradient(to right, transparent, red, red, transparent);
}

.trending